.header {
    -fx-background-color: #4a4e69;
    -fx-padding: 15;
    -fx-text-fill: white;
}

.header Label {
    -fx-text-fill: white;
}

.nav-bar {
    -fx-background-color: #9a8c98;
    -fx-padding: 10 15 10 15;
}

.nav-btn {
    -fx-background-color: #c9ada7;
    -fx-text-fill: #222;
    -fx-font-size: 14px;
    -fx-padding: 6 14;
    -fx-background-radius: 5;
}

.nav-btn:hover {
    -fx-background-color: #e0d3d0;
}

.nav-btn-danger {
    -fx-background-color: #e63946;
    -fx-text-fill: white;
    -fx-padding: 6 14;
    -fx-background-radius: 5;
}

.nav-btn-danger:hover {
    -fx-background-color: #ff6b6b;
}
